@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-header {
  height: 10vh;
}

.App-header p {
  color: whitesmoke;
  font-size: 5vh;
  line-height: 10vh;
}

.App-content {
  padding-top: 25vh;
  min-height: 85vh;
}

.App-footer {
  height: 5vh;
  font-size: 2vh;
  line-height: 5vh;
  padding: 0 0;
}

/* workaround for not being able to modify the color of anticon */
.App-modal-surl .anticon {
  color: #52c41a !important;
}